*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #D76C82;
}

h1{
    background-color: #2F0A28;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.choice:hover{
    cursor: pointer;
    background-color: #2F0A28;
}

img{
    height: 175px;
    width: 175px;
    object-fit: contain;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 4rem;
}
#msg{
    background-color: #2F0A28;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}